{% extends "FilmsCatalogBundle::layout.html.twig" %}

{% block body %}

    <h2>Топ фильмов</h2>

    {% for item in topList %}
        <div class="film">
            <div class="title">{{ item.title }}</div>
            <img src="{{ item.picture }}" height="100px">
        </div>

    {% endfor %}

    <h2>Топ категорий</h2>

    {% for item in topCategory %}
        <div class="category">
            <a href="{{ path('category_view', {'slug': item.slug}) }}">{{ item.title }}</a>
        </div>
    {% endfor %}

{% endblock %}